// single

.singleArticle__wrapper {
    padding-top: 32px;
}

.singleArticle__content {
    background: #fff;
    padding: 32px;
    margin-bottom: 32px;
}

.singleArticle__editor {
    padding-bottom: 16px;

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 24px;
    }

    h1 {
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
    }

    h2 {
        font-size: 36px;
        line-height: 41px;
        font-weight: 400;
    }

    h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }

    h5 {
        font-size: 20px;
        line-height: 23px;
    }

    h6 {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }

    p {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 24px;
    }

    img {
        display: block;
        max-width: 100%;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
        margin-right: -16px;
        .image {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 32px;
            padding-left: 16px;
            padding-right: 16px;
            img {

            }
            p {
                font-size: 17px;
                line-height: 26px;
                margin-top: 24px;
                margin-bottom: 0;
            }
        }
    }


}

.singleArticle__see-olso {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 48px;
    a {
        font-weight: 700;
        color: #53A0B0;
    }

}

.singleArticle__categories {
    margin-bottom: 48px;
    ul {
        display: flex;

        li {
            background: #54A0B0;
            padding: 7px 17px;
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: block;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
            transition: all 0.3s;
            &:hover {
                transition: all 0.3s;
                background: #3A7582;
            }
        }
    }

}


.singleArticle__share {
    margin-bottom: 48px;
    a {

        img {

        }
    }
}

.singleArticle__pagination {
    margin-bottom: 16px;
    .nav-single {
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-previous {
            margin: 0 70px;
            a {
                display: flex;
                align-items: center;

            }
            img {
                margin-right: 10px;
            }
            span {
                font-size: 17px;
                line-height: 26px;
                color: #1E1E1E;
                transition: all 0.3s;
                &:hover {
                    transition: all 0.3s;
                    color: #3A7582;
                }
            }
        }

        .nav-next {
            margin: 0 70px;
            a {
            display: flex;
                align-items: center;
            }
            img {
                margin-left: 10px;
            }
            span {
                font-size: 17px;
                line-height: 26px;
                color: #1E1E1E;
                transition: all 0.3s;
                &:hover {
                    transition: all 0.3s;
                    color: #3A7582;
                }
            }
        }

    }

}

// media queries

@media (max-width: $xl) {
 
    .singleArticle__pagination .nav-single .nav-next,
    .singleArticle__pagination .nav-single .nav-previous {
        margin: 0 35px;
    }

    .singleArticle__editor h1 {
        font-size: 32px;
        line-height: 37px;
    }

    .singleArticle__editor h3 {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
    }

}

@media (max-width: $lg) {

    .singleArticle__wrapper .col-lg-4 {
        display: none;
    }

    .singleArticle__wrapper .col-lg-8 {
        max-width: 100%;
        flex: 0 0 100%;
    }


}


@media (max-width: $md) {

  .widget-read-olso {
      display: none;
  }

  .singleArticle__pagination .nav-single .nav-next,
  .singleArticle__pagination .nav-single .nav-previous {
      margin: 0;
  }

  .singleArticle__pagination .nav-single {
    justify-content: space-between;
  }

  .singleArticle__content {
      padding: 16px;
      margin-bottom: 0;
  }

    //   content sizes

    .singleArticle__editor {
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 24px;
        }
    
        h1 {
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
        }
    
        h2 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 400;
        }
    
        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }
    
    
        p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 16px;
        }
    }

    .singleArticle__editor .images .image p {
        margin-top: 16px;
        font-size: 16px;
        line-height: 26px;
    }

    .singleArticle__see-olso {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 32px;
        a {
            font-weight: 500;
        }
    }

    .singleArticle__categories {
        margin-bottom: 32px;
        ul {
            li {
                margin-right: 16px;
                padding: 7px 15px;
                a {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }


}

@media (max-width: $xm) {
    
    .singleArticle__editor .images .image {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (max-width: $xs) {
    
    .singleArticle__categories ul li {
        margin-right: 12px;
        padding: 7px 12px;
    }
}