/*style*/

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  display: block;
  background: transparent;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

input:focus {
  outline: none;
}

body {
  color: #0F0F0F;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background: #E5E5E5;
}

h1,
h2 {
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}

h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 1432px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 380px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row .col-lg-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.row .col-lg-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.row .col-lg-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.section-blue {
  background: #F2FAFC;
  position: relative;
}

.section-blue:before {
  content: "";
  display: block;
  height: 148px;
  width: 100%;
  background: #fff url("../img/section-top.svg") no-repeat;
  background-size: cover;
}

.section-blue:after {
  content: "";
  display: block;
  height: 148px;
  width: 100%;
  background: #fff url("../img/section-bottom.svg") no-repeat;
  background-size: cover;
}

.section__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  font-family: 'Montserrat', sans-serif;
}

.section__title-line {
  display: block;
  margin-top: 20px;
  width: 86px;
  height: 2px;
}

.section__title.text-center .section__title-line {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.section__text {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 18px;
  line-height: 34px;
}

.slick-slide {
  outline: none;
}

.btn-default {
  text-transform: uppercase;
  padding: 21px 51px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #01A9B4;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-default:hover {
  background: #008088;
}

.btn-bordered {
  text-transform: uppercase;
  padding: 21px 39px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  background: transparent;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #2D2D2D;
}

.btn-bordered:hover {
  border: 3px solid #01A9B4;
  color: #01A9B4;
}

.cta_btn {
  position: relative;
  overflow: hidden;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.cta_btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fa4923;
  opacity: 0;
  z-index: 1;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.cta_btn:after {
  content: "";
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: #fff;
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.pulse-button {
  position: relative;
  -webkit-box-shadow: 0 0 0 0 rgba(1, 169, 180, 0.7);
  box-shadow: 0 0 0 0 rgba(1, 169, 180, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
  }
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.slick-dots li button {
  margin: 0 15px;
  font-size: 0px;
  background: #606060;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #F2FAFC;
}

.slick-dots .slick-active button {
  background: rgba(1, 169, 180, 0.5);
  border: 4px solid rgba(1, 169, 180, 0.5);
}

.md-form {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.md-form label {
  display: inline-block;
  position: absolute;
  padding: 0;
  bottom: 25px;
  left: 35px;
  font-size: 16px;
  line-height: 1;
  color: #A6A6A6;
  font-weight: 400;
  -webkit-transition: color .2s ease-out,-webkit-transform .2s ease-out;
  transition: color .2s ease-out,-webkit-transform .2s ease-out;
  transition: transform .2s ease-out,color .2s ease-out;
  transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.md-form > label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-form > label::after {
  position: absolute;
  top: 65px;
  display: block;
  content: "";
  opacity: 0;
  -webkit-transition: .2s opacity ease-out,0.2s color ease-out;
  transition: .2s opacity ease-out,0.2s color ease-out;
}

.md-form label.active {
  -webkit-transform: translateY(-27px) translateX(-35px) scale(1);
  transform: translateY(-27px) translateX(-35px) scale(1);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #434343;
  transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
}

.md-form input {
  width: 100%;
  padding: 11px 35px;
  padding-top: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CDCDCD;
  font-size: 16px;
  line-height: 1;
  color: #0F0F0F;
  font-weight: 400;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.md-form {
  position: relative;
  margin-bottom: 55px;
}

.md-form.tel {
  margin-bottom: 0;
}

.md-form input.active,
.md-form textarea.active {
  border-bottom: 1px solid #01A9B4 !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.md-form.name .md-form__icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: url("../img/form-name.svg") no-repeat center !important;
  left: 0;
  width: 16px;
  height: 17px;
  background-size: cover;
  position: absolute;
  bottom: 14px;
}

.md-form.tel .md-form__icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: url("../img/form-tel.svg") no-repeat center !important;
  left: 0;
  width: 16px;
  height: 17px;
  background-size: cover;
  position: absolute;
  bottom: 14px;
}

.md-form.name .md-form__icon.active {
  background: url("../img/form-name-active.svg") no-repeat center !important;
}

.md-form.tel .md-form__icon.active {
  background: url("../img/form-tel-active.svg") no-repeat center !important;
}

.section__title-mob {
  display: none;
}

@media (max-width: 1200px) {
  .section__title {
    font-size: 40px;
    line-height: 49px;
  }

  .section__title img {
    margin-top: 15px;
  }

  .section-blue:before,
  .section-blue:after {
    height: 105px;
  }
}

@media (max-width: 1000px) {
  .section__title {
    font-size: 36px;
    line-height: 44px;
  }

  .section__title img {
    margin-top: 15px;
  }

  .section-blue:before,
  .section-blue:after {
    height: 90px;
  }
}

@media (max-width: 767px) {
  .section__title {
    font-size: 32px;
    line-height: 39px;
  }

  .section__title img {
    margin-top: 10px;
  }

  .section__title-mob {
    display: block;
  }

  .section__title-pc {
    display: none;
  }

  .section-blue:before,
  .section-blue:after {
    height: 85px;
  }
}

@media (max-width: 480px) {
  .section__title {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (max-width: 360px) {
  .section__title {
    font-size: 26px;
    line-height: 30px;
  }

  .btn-default {
    padding: 21px 40px;
  }

  .section-blue:before,
  .section-blue:after {
    height: 80px;
  }
}

.burger {
  display: none;
}

.header {
  background: #fff;
  position: static;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__wrapper {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #1E1E1E;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__info-btn {
  margin-left: 25px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social-link {
  display: block;
  margin-right: 35px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__social-link:last-child {
  margin-right: 0;
}

.header__social-link img {
  display: block;
  max-width: 100%;
}

.header__social-link:hover {
  opacity: 0.7;
}

.menu-item {
  margin: 0 25px;
  position: relative;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.menu-item a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1E1E1E;
}

.menu-item:after {
  display: block;
  content: "";
  left: 0;
  bottom: -10px;
  position: absolute;
  width: 0;
  border-radius: 10px;
  height: 2px;
  background: #3F7D8A;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.menu-item:hover,
.menu-item:focus {
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.menu-item:hover:after,
.menu-item:focus:after {
  width: 100%;
  height: 2px;
  background: #3F7D8A;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.menu-item.current-menu-item:after {
  width: 100%;
  height: 2px;
  background: #3F7D8A;
}

.custom-logo-link {
  font-size: 36px;
  line-height: 1;
  color: #1E1E1E;
}

.custom-logo-link:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.7;
}

.header-mob {
  display: none;
}

.mobileMenu {
  width: 0;
  overflow: hidden;
  height: 100vh;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.mobileMenu__close {
  position: absolute;
  right: 43px;
  top: 43px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobileMenu__close:hover {
  opacity: 0.5;
}

.mobileMenu-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(143, 143, 143, 0.5);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobileMenu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 90px;
}

.mobileMenu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mobileMenu .header__list .menu-item {
  margin: 0;
  margin-bottom: 40px;
}

.mobileMenu .header__list .menu-item:last-child {
  margin-bottom: 0;
}

.mobileMenu .header__list .menu-item a {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 44px;
  color: #0F0F0F;
}

.mobileMenu .header__list .menu-item.active:after {
  background: #01A9B4;
}

.mobileMenu-overlay.open {
  z-index: 9999;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobileMenu-overlay.open .mobileMenu {
  width: 55%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1440px) {
  .menu-item {
    margin: 0 15px;
  }
}

@media (max-width: 1000px) {
  .header__menu:not(.mobile-menu) {
    display: none;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .burger__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
  }

  .open-menu-js {
    cursor: pointer;
  }

  .open-menu span {
    display: block;
    width: 31px;
    height: 2px;
    margin-bottom: 8px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
  }

  .open-menu span:first-child {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .open-menu span:nth-last-child(2) {
    width: 25px;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }

  .open-menu span:last-child {
    margin-bottom: 0;
  }

  .header__tel {
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .header__tel {
    margin-right: 17px;
    font-size: 0;
  }

  .burger__text {
    font-size: 15px;
    line-height: 18px;
    margin-left: 8px;
  }

  .header__social-link {
    margin-right: 17px;
    max-height: 17px;
    max-width: 17px;
  }

  .header__social-link img {
    max-height: 17px;
  }

  .header__tel img {
    margin-right: 0;
    width: 15px;
    height: 15px;
  }

  .mobileMenu-overlay.open .mobileMenu {
    width: 100%;
    max-width: 425px;
  }

  .mobileMenu .header__list .menu-item a {
    font-size: 24px;
    line-height: 33px;
  }

  .mobileMenu__close {
    right: 30px;
    top: 30px;
    max-width: 35px;
  }

  .mobileMenu__close img {
    max-width: 100%;
  }

  .header__wrapper {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .mobileMenu-overlay.open .mobileMenu {
    max-width: 340px;
  }

  .mobileMenu__container {
    padding: 0 60px;
  }

  .mobileMenu .header__list .menu-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .burger__text {
    display: none;
  }
}

.footer {
  margin-top: 135px;
  background: rgba(1, 99, 105, 0.85);
  text-align: center;
  color: #fff;
}

.footer .header__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__copy {
  border-top: 1px solid #FFFFFF;
  padding: 24px 0;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer .custom-logo-link {
  color: #FFFCFC;
}

.footer .menu-item a {
  color: #fff;
}

.footer .menu-item:hover,
.footer .menu-item:focus {
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.footer .menu-item:hover:after,
.footer .menu-item:focus:after {
  background: #fff;
}

@media (max-width: 1200px) {
  .footer .tel {
    margin-right: 38px;
  }

  .footer .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1000px) {
  .footer .header__wrapper {
    padding: 30px 0;
  }

  .footer .custom-logo-link {
    font-size: 30px;
  }

  .footer__copy {
    padding: 20px 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .footer .tel {
    font-size: 15px;
  }

  .footer .tel img {
    margin-right: 5px;
  }

  .footer .header__wrapper {
    padding: 16px 0;
  }

  .footer .custom-logo-link {
    font-size: 24px;
  }

  .footer__copy {
    padding: 12px 0;
    font-size: 12px;
    line-height: 14px;
  }
}

.banner {
  background: url("../img/banner-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 145px;
  padding-bottom: 167px;
}

.banner__line {
  display: block;
  width: 102px;
  height: 2px;
  background: #3F7D8A;
  margin-bottom: 16px;
}

.banner__title {
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 43px;
  max-width: 680px;
  font-weight: 500 !important;
}

.banner__link {
  padding: 13px 31px;
  background: #fff;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1E1E1E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banner__link:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #F2F2F2;
}

.article {
  height: 100%;
  background: #fff;
}

.article__img {
  position: relative;
  height: 248px;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.article__img:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.article__img:hover img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.article__img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 248px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.article__img:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(27, 27, 27, 0.3);
  z-index: 999;
}

.article__content {
  padding: 16px;
  padding-bottom: 44px;
  display: block;
}

.article__cat {
  display: block;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #3F7D8A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.article__cat:hover {
  opacity: 0.7;
}

.article__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1E1E1E;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.article-column {
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  margin-bottom: 32px;
}

@media (max-width: 1440px) {
  .article__img {
    height: 205px;
  }
}

@media (max-width: 1200px) {
  .article__img {
    height: 170px;
  }

  .article__text {
    font-size: 18px;
    line-height: 28px;
  }

  .article__content {
    padding-bottom: 35px;
  }

  .article__cat {
    margin-bottom: 4px;
  }
}

@media (max-width: 1000px) {
  .article-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .article__img {
    height: 197px;
  }
}

@media (max-width: 767px) {
  .article-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .article__img {
    height: 248px;
  }
}

@media (max-width: 480px) {
  .article__img {
    height: 207px;
  }

  .article__content {
    padding-bottom: 26px;
  }
}

@media (max-width: 360px) {
  .article__img {
    height: 175px;
  }
}

.show-all {
  margin-top: 40px;
  margin-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3F7D8A;
}

.pagination-wrapper .pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination-wrapper .pagination .nav-links a.page-numbers {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #0B0B0B;
  display: inline-block;
  padding: 0 8px;
}

.pagination-wrapper .pagination .nav-links span.page-numbers.current {
  display: inline-block;
  padding: 0 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #3F7D8A;
}

.pagination-wrapper .pagination .nav-links a.page-numbers.next {
  padding-left: 23px;
  font-size: 18px;
  line-height: 1;
  color: #0B0B0B;
}

.pagination-wrapper .pagination .nav-links span.page-numbers.dots {
  display: inline-block;
  padding: 0 8px;
  font-size: 16px;
  line-height: 1;
}

.mainArticles {
  padding-top: 32px;
}

.category-title {
  padding: 22px 16px;
  background: #FFFFFF;
  margin-bottom: 32px;
}

.category-title h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  color: #3F7D8A;
  margin-bottom: 0;
}