// header

.banner {
    // height: 507px;
    background: url(../img/banner-bg.jpg) no-repeat;
    background-size: cover;
    // background-position: center;
    padding-top: 145px;
    padding-bottom: 167px;
    
}

.banner__line {
    display: block;
    width: 102px;
    height: 2px;
    background: #3F7D8A;
    margin-bottom: 16px;
}

.banner__title {
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 43px;
    max-width: 680px;
    font-weight: 500 !important;
}

.banner__link {
    padding: 13px 31px;
    background: #fff;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1E1E1E;
    transition: all 0.3s;
    &:hover {
        transition: all 0.3s;
        background: #F2F2F2;
    }
}


// media query

@media (max-width: $lg) {

    .banner__title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 36px;
    }

    .banner__link {
        padding: 14px 34px;
    }

}

@media (max-width: $md) {

    .banner {
        // padding-top: 161px;
        // padding-bottom: 194px;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .banner__line {
        width: 72px;
    }

    .banner__title {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 32px;
    }


}